<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<footer th:fragment="footer">

    <section class="footer_container">

        <div class="footer_one">
            <div class="footer_one_left">
                <h1>LOCATION</h1>
                <p>2215 John Daniel Drive<br>
                    Clark, MO 65243</p>
            </div>
            <div class="footer_one_middle">
                <h1>AROUND THE WEB</h1>
                <div class="footer_one_middle_icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-solid fa-bowling-ball"></i>
                </div>
            </div>
            <div class="footer_one_right">
                <h1>ABOUT FREELANCER</h1>
                <p>Freelance is a free to use, <br>
                    MIT licensed Bootstrap theme created by Start Bootstrap .</p>
            </div>
        </div>

    </section>
    <section class="footer_two">
        <p>Copyright © Your Website 2023</p>
    </section>
</footer>

</body>
</html>