.about_container{
    background-color: #1ABC9C;
    padding-top: 30px;
    height: 70vh;
}
.about_title{
    color: white;
    font-size: 2.5em;
    text-align: center;


}
.about_parag_desc{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.about_parag{
    color: white;
    font-size: 19px;
}
.about_parag_desc p:nth-child(2) {
    font-size: 19px;
}