<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header"></header>
<section>
    <div class="about_container">
        <article class="about_text">
            <h1 class="about_title">ABOUT</h1><br>
            <div class="about_parag_desc">
                <p class="about_parag">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
            </div>
        </article>
    </div>
</section>
<footer th:replace="fragments/footer"></footer>

</body>
</html>